In [2]:
import pandas as pd
import numpy as np
from pydataset import data
import matplotlib.pyplot as plt
import env

def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

iris_sql="SELECT measurements.measurement_id, \
    measurements.sepal_length, measurements.sepal_width, measurements.petal_length, \
        measurements.petal_width, species.species_name, species.species_id \
            FROM measurements JOIN species ON(species.species_id=measurements.species_id)"

def get_iris_data():
    return pd.read_sql(iris_sql,get_connection('iris_db'))

In [11]:
df_iris = pd.DataFrame(data('iris'))

In [16]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [12]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [15]:
df_iris.size()

TypeError: 'numpy.int64' object is not callable

In [17]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [18]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [19]:
df_iris.value_counts()

Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
5.8           2.7          5.1           1.9          virginica     2
6.2           2.2          4.5           1.5          versicolor    1
              2.9          4.3           1.3          versicolor    1
              3.4          5.4           2.3          virginica     1
6.3           2.3          4.4           1.3          versicolor    1
              2.5          4.9           1.5          versicolor    1
                           5.0           1.9          virginica     1
              2.7          4.9           1.8          virginica     1
              2.8          5.1           1.5          virginica     1
              2.9          5.6           1.8          virginica     1
              3.3          4.7           1.6          versicolor    1
                           6.0           2.5          virginica     1
              3.4          5.6           2.4          virginica     1
6.4           2.7          5.3           1.9          virginica     1
              2.8          5.6           2.1          virginica     1
                                         2.2          virginica     1
              2.9          4.3           1.3          versicolor    1
6.2           2.8          4.8           1.8          virginica     1
6.1           3.0          4.9           1.8          virginica     1
5.8           2.7          4.1           1.0          versicolor    1
6.1           3.0          4.6           1.4          versicolor    1
5.8           2.8          5.1           2.4          virginica     1
              4.0          1.2           0.2          setosa        1
5.9           3.0          4.2           1.5          versicolor    1
                           5.1           1.8          virginica     1
              3.2          4.8           1.8          versicolor    1
6.0           2.2          4.0           1.0          versicolor    1
                           5.0           1.5          virginica     1
              2.7          5.1           1.6          versicolor    1
              2.9          4.5           1.5          versicolor    1
              3.0          4.8           1.8          virginica     1
              3.4          4.5           1.6          versicolor    1
6.1           2.6          5.6           1.4          virginica     1
              2.8          4.0           1.3          versicolor    1
                           4.7           1.2          versicolor    1
              2.9          4.7           1.4          versicolor    1
6.4           3.1          5.5           1.8          virginica     1
4.3           3.0          1.1           0.1          setosa        1
6.4           3.2          5.3           2.3          virginica     1
6.5           2.8          4.6           1.5          versicolor    1
6.9           3.1          5.1           2.3          virginica     1
                           5.4           2.1          virginica     1
              3.2          5.7           2.3          virginica     1
7.0           3.2          4.7           1.4          versicolor    1
7.1           3.0          5.9           2.1          virginica     1
7.2           3.0          5.8           1.6          virginica     1
              3.2          6.0           1.8          virginica     1
              3.6          6.1           2.5          virginica     1
7.3           2.9          6.3           1.8          virginica     1
7.4           2.8          6.1           1.9          virginica     1
7.6           3.0          6.6           2.1          virginica     1
7.7           2.6          6.9           2.3          virginica     1
              2.8          6.7           2.0          virginica     1
              3.0          6.1           2.3          virginica     1
              3.8          6.7           2.2          virginica     1
6.9           3.1          4.9           1.5          versicolor    1
6.8           3.2          5.9           2.3          virginica     1
              3.0          5.5           2.1          virginica     1
6.7           2.5          5.8           1.8          virginica     1
6.5           3.0          5.2           2.0          virginica     1
                           5.5           1.8          virginica     1
                           5.8           2.2          virginica     1
              3.2          5.1           2.0          virginica     1
6.6           2.9          4.6           1.3          versicolor    1
              3.0          4.4           1.4          versicolor    1
6.7           3.0          5.0           1.7          versicolor    1
6.8           2.8          4.8           1.4          versicolor    1
6.7           3.0          5.2           2.3          virginica     1
              3.1          4.4           1.4          versicolor    1
                           4.7           1.5          versicolor    1
                           5.6           2.4          virginica     1
              3.3          5.7           2.1          virginica     1
                                         2.5          virginica     1
6.4           3.2          4.5           1.5          versicolor    1
5.8           2.7          3.9           1.2          versicolor    1
4.4           2.9          1.4           0.2          setosa        1
4.9           3.1          1.5           0.1          setosa        1
              3.6          1.4           0.1          setosa        1
5.0           2.0          3.5           1.0          versicolor    1
              2.3          3.3           1.0          versicolor    1
              3.0          1.6           0.2          setosa        1
              3.2          1.2           0.2          setosa        1
              3.3          1.4           0.2          setosa        1
              3.4          1.5           0.2          setosa        1
                           1.6           0.4          setosa        1
              3.5          1.3           0.3          setosa        1
                           1.6           0.6          setosa        1
              3.6          1.4           0.2          setosa        1
5.1           2.5          3.0           1.1          versicolor    1
              3.3          1.7           0.5          setosa        1
              3.4          1.5           0.2          setosa        1
              3.5          1.4           0.2          setosa        1
4.9           3.1          1.5           0.2          setosa        1
              3.0          1.4           0.2          setosa        1
5.8           2.6          4.0           1.2          versicolor    1
4.9           2.5          4.5           1.7          virginica     1
4.4           3.0          1.3           0.2          setosa        1
              3.2          1.3           0.2          setosa        1
4.5           2.3          1.3           0.3          setosa        1
4.6           3.1          1.5           0.2          setosa        1
              3.2          1.4           0.2          setosa        1
              3.4          1.4           0.3          setosa        1
              3.6          1.0           0.2          setosa        1
4.7           3.2          1.3           0.2          setosa        1
                           1.6           0.2          setosa        1
4.8           3.0          1.4           0.1          setosa        1
                                         0.3          setosa        1
              3.1          1.6           0.2          setosa        1
              3.4          1.6           0.2          setosa        1
                           1.9           0.2          setosa        1
4.9           2.4          3.3           1.0          versicolor    1
5.1           3.5          1.4           0.3          setosa        1
              3.7          1.5           0.4          setosa        1
              3.8          1.5           0.3          setosa        1
                           1.6           0.2          setosa        1
5.5           4.2          1.4           0.2          setosa        1
5.6           2.5          3.9           1.1          versicolor    1
              2.7          4.2           1.3          versicolor    1
              2.8          4.9           2.0          virginica     1
              2.9          3.6           1.3          versicolor    1
              3.0          4.1           1.3          versicolor    1
                           4.5           1.5          versicolor    1
5.7           2.5          5.0           2.0          virginica     1
              2.6          3.5           1.0          versicolor    1
              2.8          4.1           1.3          versicolor    1
                           4.5           1.3          versicolor    1
              2.9          4.2           1.3          versicolor    1
              3.0          4.2           1.2          versicolor    1
              3.8          1.7           0.3          setosa        1
              4.4          1.5           0.4          setosa        1
5.5           3.5          1.3           0.2          setosa        1
              2.6          4.4           1.2          versicolor    1
              2.5          4.0           1.3          versicolor    1
5.4           3.0          4.5           1.5          versicolor    1
5.1           3.8          1.9           0.4          setosa        1
5.2           2.7          3.9           1.4          versicolor    1
              3.4          1.4           0.2          setosa        1
              3.5          1.5           0.2          setosa        1
              4.1          1.5           0.1          setosa        1
5.3           3.7          1.5           0.2          setosa        1
5.4           3.4          1.5           0.4          setosa        1
5.5           2.4          3.8           1.1          versicolor    1
5.4           3.4          1.7           0.2          setosa        1
              3.7          1.5           0.2          setosa        1
              3.9          1.3           0.4          setosa        1
                           1.7           0.4          setosa        1
5.5           2.3          4.0           1.3          versicolor    1
              2.4          3.7           1.0          versicolor    1
7.9           3.8          6.4           2.0          virginica     1
dtype: int64

In [23]:

sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [24]:
df_google.shape()

TypeError: 'tuple' object is not callable

In [25]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [26]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [27]:
df_google.value_counts()

PassengerId  Survived  Pclass  Name                                                  Sex     Age   SibSp  Parch  Ticket    Fare      Cabin  Embarked
2            1         1       Cumings, Mrs. John Bradley (Florence Briggs Thayer)   female  38.0  1      0      PC 17599  71.2833   C85    C           1
572          1         1       Appleton, Mrs. Edward Dale (Charlotte Lamson)         female  53.0  2      0      11769     51.4792   C101   S           1
578          1         1       Silvey, Mrs. William Baird (Alice Munger)             female  39.0  1      0      13507     55.9000   E44    S           1
582          1         1       Thayer, Mrs. John Borland (Marian Longstreth Morris)  female  39.0  1      1      17421     110.8833  C68    C           1
584          0         1       Ross, Mr. John Hugo                                   male    36.0  0      0      13049     40.1250   A10    C           1
                                                                                                                                                       ..
328          1         2       Ball, Mrs. (Ada E Hall)                               female  36.0  0      0      28551     13.0000   D      S           1
330          1         1       Hippach, Miss. Jean Gertrude                          female  16.0  0      1      111361    57.9792   B18    C           1
332          0         1       Partner, Mr. Austen                                   male    45.5  0      0      113043    28.5000   C124   S           1
333          0         1       Graham, Mr. George Edward                             male    38.0  0      1      PC 17582  153.4625  C91    S           1
890          1         1       Behr, Mr. Karl Howell                                 male    26.0  0      0      111369    30.0000   C148   C           1
Length: 183, dtype: int64

In [32]:
df_google.value_counts()

PassengerId  Survived  Pclass  Name                                                  Sex     Age   SibSp  Parch  Ticket    Fare      Cabin  Embarked
2            1         1       Cumings, Mrs. John Bradley (Florence Briggs Thayer)   female  38.0  1      0      PC 17599  71.2833   C85    C           1
572          1         1       Appleton, Mrs. Edward Dale (Charlotte Lamson)         female  53.0  2      0      11769     51.4792   C101   S           1
578          1         1       Silvey, Mrs. William Baird (Alice Munger)             female  39.0  1      0      13507     55.9000   E44    S           1
582          1         1       Thayer, Mrs. John Borland (Marian Longstreth Morris)  female  39.0  1      1      17421     110.8833  C68    C           1
584          0         1       Ross, Mr. John Hugo                                   male    36.0  0      0      13049     40.1250   A10    C           1
                                                                                                                                                       ..
328          1         2       Ball, Mrs. (Ada E Hall)                               female  36.0  0      0      28551     13.0000   D      S           1
330          1         1       Hippach, Miss. Jean Gertrude                          female  16.0  0      1      111361    57.9792   B18    C           1
332          0         1       Partner, Mr. Austen                                   male    45.5  0      0      113043    28.5000   C124   S           1
333          0         1       Graham, Mr. George Edward                             male    38.0  0      1      PC 17582  153.4625  C91    S           1
890          1         1       Behr, Mr. Karl Howell                                 male    26.0  0      0      111369    30.0000   C148   C           1
Length: 183, dtype: int64