In [1]:
import pandas as pd
import numpy as np
import os

#acquire
from env import host, user, password
from pydataset import data
import seaborn as sns

#turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

In [4]:
df_iris = pd.DataFrame(data('iris'))

In [5]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [12]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [8]:
df_iris.shape

(150, 5)

In [17]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [10]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [18]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [12]:
df_iris.describe().T

              count      mean       std  min  25%   50%  75%  max
Sepal.Length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
Sepal.Width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
Petal.Length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
Petal.Width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [14]:

sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [15]:
df_google.shape

(891, 12)

In [25]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [26]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [27]:
df_google.value_counts()

PassengerId  Survived  Pclass  Name                                                  Sex     Age   SibSp  Parch  Ticket    Fare      Cabin  Embarked
2            1         1       Cumings, Mrs. John Bradley (Florence Briggs Thayer)   female  38.0  1      0      PC 17599  71.2833   C85    C           1
572          1         1       Appleton, Mrs. Edward Dale (Charlotte Lamson)         female  53.0  2      0      11769     51.4792   C101   S           1
578          1         1       Silvey, Mrs. William Baird (Alice Munger)             female  39.0  1      0      13507     55.9000   E44    S           1
582          1         1       Thayer, Mrs. John Borland (Marian Longstreth Morris)  female  39.0  1      1      17421     110.8833  C68    C           1
584          0         1       Ross, Mr. John Hugo                                   male    36.0  0      0      13049     40.1250   A10    C           1
                                                                                                                                                       ..
328          1         2       Ball, Mrs. (Ada E Hall)                               female  36.0  0      0      28551     13.0000   D      S           1
330          1         1       Hippach, Miss. Jean Gertrude                          female  16.0  0      1      111361    57.9792   B18    C           1
332          0         1       Partner, Mr. Austen                                   male    45.5  0      0      113043    28.5000   C124   S           1
333          0         1       Graham, Mr. George Edward                             male    38.0  0      1      PC 17582  153.4625  C91    S           1
890          1         1       Behr, Mr. Karl Howell                                 male    26.0  0      0      111369    30.0000   C148   C           1
Length: 183, dtype: int64

In [32]:
df_google.value_counts()

PassengerId  Survived  Pclass  Name                                                  Sex     Age   SibSp  Parch  Ticket    Fare      Cabin  Embarked
2            1         1       Cumings, Mrs. John Bradley (Florence Briggs Thayer)   female  38.0  1      0      PC 17599  71.2833   C85    C           1
572          1         1       Appleton, Mrs. Edward Dale (Charlotte Lamson)         female  53.0  2      0      11769     51.4792   C101   S           1
578          1         1       Silvey, Mrs. William Baird (Alice Munger)             female  39.0  1      0      13507     55.9000   E44    S           1
582          1         1       Thayer, Mrs. John Borland (Marian Longstreth Morris)  female  39.0  1      1      17421     110.8833  C68    C           1
584          0         1       Ross, Mr. John Hugo                                   male    36.0  0      0      13049     40.1250   A10    C           1
                                                                                                                                                       ..
328          1         2       Ball, Mrs. (Ada E Hall)                               female  36.0  0      0      28551     13.0000   D      S           1
330          1         1       Hippach, Miss. Jean Gertrude                          female  16.0  0      1      111361    57.9792   B18    C           1
332          0         1       Partner, Mr. Austen                                   male    45.5  0      0      113043    28.5000   C124   S           1
333          0         1       Graham, Mr. George Edward                             male    38.0  0      1      PC 17582  153.4625  C91    S           1
890          1         1       Behr, Mr. Karl Howell                                 male    26.0  0      0      111369    30.0000   C148   C           1
Length: 183, dtype: int64

In [16]:
#print the unique values of each of your categorical variables
for col in df_google.columns:
    if df_google[col].dtype == 'object':
        ''' if the string literal referenced inside square brackets points to a series that 
        has dtypes that matches 'object' we have an idea that this is a categorical data 
        type and will then get the number of unique values in there using nunique'''
        print(f'{col} has {df_google[col].nunique()} unique values.')

Name has 891 unique values.
Sex has 2 unique values.
Ticket has 681 unique values.
Cabin has 147 unique values.
Embarked has 3 unique values.

In [17]:
df_google.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [18]:
df_google.Sex.value_counts(normalize = True)

male      0.647587
female    0.352413
Name: Sex, dtype: float64

In [21]:
df_google.isna().sum(axis=0)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [22]:
df_google.isnull().sum(axis=0)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [23]:
df_excel = pd.read_excel('train.xlsx', sheet_name = 'train')

In [24]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [25]:
df_excel_sample = pd.read_clipboard()

In [26]:
df_excel_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  100 non-null    int64
 1   Survived     100 non-null    int64
 2   Pclass       100 non-null    int64
 3   Name         100 non-null    object
 4   Sex          100 non-null    object
 5   Age          78 non-null     float64
 6   SibSp        100 non-null    int64
 7   Parch        100 non-null    int64
 8   Ticket       100 non-null    object
 9   Fare         100 non-null    float64
 10  Cabin        20 non-null     object
 11  Embarked     99 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 9.5+ KB

In [27]:
df_excel.columns[:5]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

In [28]:
df_excel.select_dtypes(include = 'object').head()

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S

In [28]:
import acquire as acq

In [16]:
iris = acq.get_iris_data()

In [17]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   species_id    150 non-null    int64
 1   species_name  150 non-null    object
 2   sepal_length  150 non-null    float64
 3   sepal_width   150 non-null    float64
 4   petal_length  150 non-null    float64
 5   petal_width   150 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 8.2+ KB

In [18]:
iris.drop(columns=['species_id'], inplace= True)

In [26]:
iris.rename(columns={'species_name':'species'},inplace=True)

In [27]:
iris

        species  sepal_length  sepal_width  petal_length  petal_width
0        setosa           5.1          3.5           1.4          0.2
1        setosa           4.9          3.0           1.4          0.2
2        setosa           4.7          3.2           1.3          0.2
3        setosa           4.6          3.1           1.5          0.2
4        setosa           5.0          3.6           1.4          0.2
5        setosa           5.4          3.9           1.7          0.4
6        setosa           4.6          3.4           1.4          0.3
7        setosa           5.0          3.4           1.5          0.2
8        setosa           4.4          2.9           1.4          0.2
9        setosa           4.9          3.1           1.5          0.1
10       setosa           5.4          3.7           1.5          0.2
11       setosa           4.8          3.4           1.6          0.2
12       setosa           4.8          3.0           1.4          0.1
13       setosa           4.3          3.0           1.1          0.1
14       setosa           5.8          4.0           1.2          0.2
15       setosa           5.7          4.4           1.5          0.4
16       setosa           5.4          3.9           1.3          0.4
17       setosa           5.1          3.5           1.4          0.3
18       setosa           5.7          3.8           1.7          0.3
19       setosa           5.1          3.8           1.5          0.3
20       setosa           5.4          3.4           1.7          0.2
21       setosa           5.1          3.7           1.5          0.4
22       setosa           4.6          3.6           1.0          0.2
23       setosa           5.1          3.3           1.7          0.5
24       setosa           4.8          3.4           1.9          0.2
25       setosa           5.0          3.0           1.6          0.2
26       setosa           5.0          3.4           1.6          0.4
27       setosa           5.2          3.5           1.5          0.2
28       setosa           5.2          3.4           1.4          0.2
29       setosa           4.7          3.2           1.6          0.2
30       setosa           4.8          3.1           1.6          0.2
31       setosa           5.4          3.4           1.5          0.4
32       setosa           5.2          4.1           1.5          0.1
33       setosa           5.5          4.2           1.4          0.2
34       setosa           4.9          3.1           1.5          0.2
35       setosa           5.0          3.2           1.2          0.2
36       setosa           5.5          3.5           1.3          0.2
37       setosa           4.9          3.6           1.4          0.1
38       setosa           4.4          3.0           1.3          0.2
39       setosa           5.1          3.4           1.5          0.2
40       setosa           5.0          3.5           1.3          0.3
41       setosa           4.5          2.3           1.3          0.3
42       setosa           4.4          3.2           1.3          0.2
43       setosa           5.0          3.5           1.6          0.6
44       setosa           5.1          3.8           1.9          0.4
45       setosa           4.8          3.0           1.4          0.3
46       setosa           5.1          3.8           1.6          0.2
47       setosa           4.6          3.2           1.4          0.2
48       setosa           5.3          3.7           1.5          0.2
49       setosa           5.0          3.3           1.4          0.2
50   versicolor           7.0          3.2           4.7          1.4
51   versicolor           6.4          3.2           4.5          1.5
52   versicolor           6.9          3.1           4.9          1.5
53   versicolor           5.5          2.3           4.0          1.3
54   versicolor           6.5          2.8           4.6          1.5
55   versicolor           5.7          2.8           4.5          1.3
56   versicolor           6.3          3.3           4.7          1.6
57   versicolor           4.9          2.4           3.3          1.0
58   versicolor           6.6          2.9           4.6          1.3
59   versicolor           5.2          2.7           3.9          1.4
60   versicolor           5.0          2.0           3.5          1.0
61   versicolor           5.9          3.0           4.2          1.5
62   versicolor           6.0          2.2           4.0          1.0
63   versicolor           6.1          2.9           4.7          1.4
64   versicolor           5.6          2.9           3.6          1.3
65   versicolor           6.7          3.1           4.4          1.4
66   versicolor           5.6          3.0           4.5          1.5
67   versicolor           5.8          2.7           4.1          1.0
68   versicolor           6.2          2.2           4.5          1.5
69   versicolor           5.6          2.5           3.9          1.1
70   versicolor           5.9          3.2           4.8          1.8
71   versicolor           6.1          2.8           4.0          1.3
72   versicolor           6.3          2.5           4.9          1.5
73   versicolor           6.1          2.8           4.7          1.2
74   versicolor           6.4          2.9           4.3          1.3
75   versicolor           6.6          3.0           4.4          1.4
76   versicolor           6.8          2.8           4.8          1.4
77   versicolor           6.7          3.0           5.0          1.7
78   versicolor           6.0          2.9           4.5          1.5
79   versicolor           5.7          2.6           3.5          1.0
80   versicolor           5.5          2.4           3.8          1.1
81   versicolor           5.5          2.4           3.7          1.0
82   versicolor           5.8          2.7           3.9          1.2
83   versicolor           6.0          2.7           5.1          1.6
84   versicolor           5.4          3.0           4.5          1.5
85   versicolor           6.0          3.4           4.5          1.6
86   versicolor           6.7          3.1           4.7          1.5
87   versicolor           6.3          2.3           4.4          1.3
88   versicolor           5.6          3.0           4.1          1.3
89   versicolor           5.5          2.5           4.0          1.3
90   versicolor           5.5          2.6           4.4          1.2
91   versicolor           6.1          3.0           4.6          1.4
92   versicolor           5.8          2.6           4.0          1.2
93   versicolor           5.0          2.3           3.3          1.0
94   versicolor           5.6          2.7           4.2          1.3
95   versicolor           5.7          3.0           4.2          1.2
96   versicolor           5.7          2.9           4.2          1.3
97   versicolor           6.2          2.9           4.3          1.3
98   versicolor           5.1          2.5           3.0          1.1
99   versicolor           5.7          2.8           4.1          1.3
100   virginica           6.3          3.3           6.0          2.5
101   virginica           5.8          2.7           5.1          1.9
102   virginica           7.1          3.0           5.9          2.1
103   virginica           6.3          2.9           5.6          1.8
104   virginica           6.5          3.0           5.8          2.2
105   virginica           7.6          3.0           6.6          2.1
106   virginica           4.9          2.5           4.5          1.7
107   virginica           7.3          2.9           6.3          1.8
108   virginica           6.7          2.5           5.8          1.8
109   virginica           7.2          3.6           6.1          2.5
110   virginica           6.5          3.2           5.1          2.0
111   virginica           6.4          2.7           5.3          1.9
112   virginica           6.8          3.0           5.5          2.1
113   virginica           5.7          2.5           5.0          2.0
114   virginica           5.8          2.8           5.1          2.4
115   virginica           6.4          3.2           5.3          2.3
116   virginica           6.5          3.0           5.5          1.8
117   virginica           7.7          3.8           6.7          2.2
118   virginica           7.7          2.6           6.9          2.3
119   virginica           6.0          2.2           5.0          1.5
120   virginica           6.9          3.2           5.7          2.3
121   virginica           5.6          2.8           4.9          2.0
122   virginica           7.7          2.8           6.7          2.0
123   virginica           6.3          2.7           4.9          1.8
124   virginica           6.7          3.3           5.7          2.1
125   virginica           7.2          3.2           6.0          1.8
126   virginica           6.2          2.8           4.8          1.8
127   virginica           6.1          3.0           4.9          1.8
128   virginica           6.4          2.8           5.6          2.1
129   virginica           7.2          3.0           5.8          1.6
130   virginica           7.4          2.8           6.1          1.9
131   virginica           7.9          3.8           6.4          2.0
132   virginica           6.4          2.8           5.6          2.2
133   virginica           6.3          2.8           5.1          1.5
134   virginica           6.1          2.6           5.6          1.4
135   virginica           7.7          3.0           6.1          2.3
136   virginica           6.3          3.4           5.6          2.4
137   virginica           6.4          3.1           5.5          1.8
138   virginica           6.0          3.0           4.8          1.8
139   virginica           6.9          3.1           5.4          2.1
140   virginica           6.7          3.1           5.6          2.4
141   virginica           6.9          3.1           5.1          2.3
142   virginica           5.8          2.7           5.1          1.9
143   virginica           6.8          3.2           5.9          2.3
144   virginica           6.7          3.3           5.7          2.5
145   virginica           6.7          3.0           5.2          2.3
146   virginica           6.3          2.5           5.0          1.9
147   virginica           6.5          3.0           5.2          2.0
148   virginica           6.2          3.4           5.4          2.3
149   virginica           5.9          3.0           5.1          1.8

In [31]:
    # encode categorical values:
    df = pd.concat(
    [iris, pd.get_dummies(iris['species'])],axis=1)

In [30]:
pd.concat(
    [iris, pd.get_dummies(iris['species'])],axis=1)

,species,sepal_length,sepal_width,petal_length,petal_width,setosa,versicolor,virginica
0,setosa,5.1,3.5,1.4,0.2,1,0,0
1,setosa,4.9,3.0,1.4,0.2,1,0,0
2,setosa,4.7,3.2,1.3,0.2,1,0,0
3,setosa,4.6,3.1,1.5,0.2,1,0,0
4,setosa,5.0,3.6,1.4,0.2,1,0,0
5,setosa,5.4,3.9,1.7,0.4,1,0,0
6,setosa,4.6,3.4,1.4,0.3,1,0,0
7,setosa,5.0,3.4,1.5,0.2,1,0,0
8,setosa,4.4,2.9,1.4,0.2,1,0,0
9,setosa,4.9,3.1,1.5,0.1,1,0,0
10,setosa,5.4,3.7,1.5,0.2,1,0,0
11,setosa,4.8,3.4,1.6,0.2,1,0,0
12,setosa,4.8,3.0,1.4,0.1,1,0,0
13,setosa,4.3,3.0,1.1,0.1,1,0,0
14,setosa,5.8,4.0,1.2,0.2,1,0,0
15,setosa,5.7,4.4,1.5,0.4,1,0,0
16,setosa,5.4,3.9,1.3,0.4,1,0,0
17,setosa,5.1,3.5,1.4,0.3,1,0,0
18,setosa,5.7,3.8,1.7,0.3,1,0,0
19,setosa,5.1,3.8,1.5,0.3,1,0,0
20,setosa,5.4,3.4,1.7,0.2,1,0,0
21,setosa,5.1,3.7,1.5,0.4,1,0,0
22,setosa,4.6,3.6,1.0,0.2,1,0,0
23,setosa,5.1,3.3,1.7,0.5,1,0,0
24,setosa,4.8,3.4,1.9,0.2,1,0,0
25,setosa,5.0,3.0,1.6,0.2,1,0,0
26,setosa,5.0,3.4,1.6,0.4,1,0,0
27,setosa,5.2,3.5,1.5,0.2,1,0,0
28,setosa,5.2,3.4,1.4,0.2,1,0,0
29,setosa,4.7,3.2,1.6,0.2,1,0,0
30,setosa,4.8,3.1,1.6,0.2,1,0,0
31,setosa,5.4,3.4,1.5,0.4,1,0,0
32,setosa,5.2,4.1,1.5,0.1,1,0,0
33,setosa,5.5,4.2,1.4,0.2,1,0,0
34,setosa,4.9,3.1,1.5,0.2,1,0,0
35,setosa,5.0,3.2,1.2,0.2,1,0,0
36,setosa,5.5,3.5,1.3,0.2,1,0,0
37,setosa,4.9,3.6,1.4,0.1,1,0,0
38,setosa,4.4,3.0,1.3,0.2,1,0,0
39,setosa,5.1,3.4,1.5,0.2,1,0,0
40,setosa,5.0,3.5,1.3,0.3,1,0,0
41,setosa,4.5,2.3,1.3,0.3,1,0,0
42,setosa,4.4,3.2,1.3,0.2,1,0,0
43,setosa,5.0,3.5,1.6,0.6,1,0,0
44,setosa,5.1,3.8,1.9,0.4,1,0,0
45,setosa,4.8,3.0,1.4,0.3,1,0,0
46,setosa,5.1,3.8,1.6,0.2,1,0,0
47,setosa,4.6,3.2,1.4,0.2,1,0,0
48,setosa,5.3,3.7,1.5,0.2,1,0,0
49,setosa,5.0,3.3,1.4,0.2,1,0,0
50,versicolor,7.0,3.2,4.7,1.4,0,1,0
51,versicolor,6.4,3.2,4.5,1.5,0,1,0
52,versicolor,6.9,3.1,4.9,1.5,0,1,0
53,versicolor,5.5,2.3,4.0,1.3,0,1,0
54,versicolor,6.5,2.8,4.6,1.5,0,1,0
55,versicolor,5.7,2.8,4.5,1.3,0,1,0
56,versicolor,6.3,3.3,4.7,1.6,0,1,0
57,versicolor,4.9,2.4,3.3,1.0,0,1,0
58,versicolor,6.6,2.9,4.6,1.3,0,1,0
59,versicolor,5.2,2.7,3.9,1.4,0,1,0
60,versicolor,5.0,2.0,3.5,1.0,0,1,0
61,versicolor,5.9,3.0,4.2,1.5,0,1,0
62,versicolor,6.0,2.2,4.0,1.0,0,1,0
63,versicolor,6.1,2.9,4.7,1.4,0,1,0
64,versicolor,5.6,2.9,3.6,1.3,0,1,0
65,versicolor,6.7,3.1,4.4,1.4,0,1,0
66,versicolor,5.6,3.0,4.5,1.5,0,1,0
67,versicolor,5.8,2.7,4.1,1.0,0,1,0
68,versicolor,6.2,2.2,4.5,1.5,0,1,0
69,versicolor,5.6,2.5,3.9,1.1,0,1,0
70,versicolor,5.9,3.2,4.8,1.8,0,1,0
71,versicolor,6.1,2.8,4.0,1.3,0,1,0
72,versicolor,6.3,2.5,4.9,1.5,0,1,0
73,versicolor,6.1,2.8,4.7,1.2,0,1,0
74,versicolor,6.4,2.9,4.3,1.3,0,1,0
75,versicolor,6.6,3.0,4.4,1.4,0,1,0
76,versicolor,6.8,2.8,4.8,1.4,0,1,0
77,versicolor,6.7,3.0,5.0,1.7,0,1,0
78,versicolor,6.0,2.9,4.5,1.5,0,1,0
79,versicolor,5.7,2.6,3.5,1.0,0,1,0
80,versicolor,5.5,2.4,3.8,1.1,0,1,0
81,versicolor,5.5,2.4,3.7,1.0,0,1,0
82,versicolor,5.8,2.7,3.9,1.2,0,1,0
83,versicolor,6.0,2.7,5.1,1.6,0,1,0
84,versicolor,5.4,3.0,4.5,1.5,0,1,0
85,versicolor,6.0,3.4,4.5,1.6,0,1,0
86,versicolor,6.7,3.1,4.7,1.5,0,1,0
87,versicolor,6.3,2.3,4.4,1.3,0,1,0
88,versicolor,5.6,3.0,4.1,1.3,0,1,0
89,versicolor,5.5,2.5,4.0,1.3,0,1,0
90,versicolor,5.5,2.6,4.4,1.2,0,1,0
91,versicolor,6.1,3.0,4.6,1.4,0,1,0
92,versicolor,5.8,2.6,4.0,1.2,0,1,0
93,versicolor,5.0,2.3,3.3,1.0,0,1,0
94,versicolor,5.6,2.7,4.2,1.3,0,1,0
95,versicolor,5.7,3.0,4.2,1.2,0,1,0
96,versicolor,5.7,2.9,4.2,1.3,0,1,0
97,versicolor,6.2,2.9,4.3,1.3,0,1,0
98,versicolor,5.1,2.5,3.0,1.1,0,1,0
99,versicolor,5.7,2.8,4.1,1.3,0,1,0
100,virginica,6.3,3.3,6.0,2.5,0,0,1
101,virginica,5.8,2.7,5.1,1.9,0,0,1
102,virginica,7.1,3.0,5.9,2.1,0,0,1
103,virginica,6.3,2.9,5.6,1.8,0,0,1
104,virginica,6.5,3.0,5.8,2.2,0,0,1
105,virginica,7.6,3.0,6.6,2.1,0,0,1
106,virginica,4.9,2.5,4.5,1.7,0,0,1
107,virginica,7.3,2.9,6.3,1.8,0,0,1
108,virginica,6.7,2.5,5.8,1.8,0,0,1
109,virginica,7.2,3.6,6.1,2.5,0,0,1
110,virginica,6.5,3.2,5.1,2.0,0,0,1
111,virginica,6.4,2.7,5.3,1.9,0,0,1
112,virginica,6.8,3.0,5.5,2.1,0,0,1
113,virginica,5.7,2.5,5.0,2.0,0,0,1
114,virginica,5.8,2.8,5.1,2.4,0,0,1
115,virginica,6.4,3.2,5.3,2.3,0,0,1
116,virginica,6.5,3.0,5.5,1.8,0,0,1
117,virginica,7.7,3.8,6.7,2.2,0,0,1
118,virginica,7.7,2.6,6.9,2.3,0,0,1
119,virginica,6.0,2.2,5.0,1.5,0,0,1
120,virginica,6.9,3.2,5.7,2.3,0,0,1
121,virginica,5.6,2.8,4.9,2.0,0,0,1
122,virginica,7.7,2.8,6.7,2.0,0,0,1
123,virginica,6.3,2.7,4.9,1.8,0,0,1
124,virginica,6.7,3.3,5.7,2.1,0,0,1
125,virginica,7.2,3.2,6.0,1.8,0,0,1
126,virginica,6.2,2.8,4.8,1.8,0,0,1
127,virginica,6.1,3.0,4.9,1.8,0,0,1
128,virginica,6.4,2.8,5.6,2.1,0,0,1
129,virginica,7.2,3.0,5.8,1.6,0,0,1
130,virginica,7.4,2.8,6.1,1.9,0,0,1
131,virginica,7.9,3.8,6.4,2.0,0,0,1
132,virginica,6.4,2.8,5.6,2.2,0,0,1
133,virginica,6.3,2.8,5.1,1.5,0,0,1
134,virginica,6.1,2.6,5.6,1.4,0,0,1
135,virginica,7.7,3.0,6.1,2.3,0,0,1
136,virginica,6.3,3.4,5.6,2.4,0,0,1
137,virginica,6.4,3.1,5.5,1.8,0,0,1
138,virginica,6.0,3.0,4.8,1.8,0,0,1
139,virginica,6.9,3.1,5.4,2.1,0,0,1
140,virginica,6.7,3.1,5.6,2.4,0,0,1
141,virginica,6.9,3.1,5.1,2.3,0,0,1
142,virginica,5.8,2.7,5.1,1.9,0,0,1
143,virginica,6.8,3.2,5.9,2.3,0,0,1
144,virginica,6.7,3.3,5.7,2.5,0,0,1
145,virginica,6.7,3.0,5.2,2.3,0,0,1
146,virginica,6.3,2.5,5.0,1.9,0,0,1
147,virginica,6.5,3.0,5.2,2.0,0,0,1
148,virginica,6.2,3.4,5.4,2.3,0,0,1
149,virginica,5.9,3.0,5.1,1.8,0,0,1

In [60]:
from sklearn.impute import SimpleImputerImputer

In [ ]:
#sklearn 101:
#make the thing
titanic = acq.get_titanic_data()
#we invoke sI and save it to a variable
my_imputer = SimpleImputer(strategy='mean')
#fit the thing
my_imputer.fit(titanic[['age']])
#use the thing
my_imputer.transform(titanic[['age']])

In [1]:
def prep_iris(df):
    '''Prep iris will clean that pandas df up'''
    #drop species id
    iris.drop(columns=['species_id'], inplace= True)
    #change species name to species
    iris.rename(columns={'species_name':'species'},inplace=True)
    #get encoded categorical values for species
    iris = pd.concat(
    [iris, pd.get_dummies(iris['species'])],axis=1)
    
    return df

In [3]:
def prep_titanic(df):
    '''
    clean titanic will take in a single pandas dataframe
    and will proceed to drop redundant columns
    and nonuseful information
    in addition to addressing null values
    and encoding categorical variables
    '''
    #drop out any redundant, excessively empty, or bad columns
    df = df.drop(columns=['passenger_id','embarked','deck','class'])
    # impute average age and most common embark_town:
    df['age'] = df['age'].fillna(df.age.mean())
    df['embark_town'] = df['embark_town'].fillna('Southampton')
    # encode categorical values:
    df = pd.concat(
    [df, pd.get_dummies(df[['sex', 'embark_town']],
                        drop_first=True)], axis=1)
    return df

In [58]:
telco = acq.get_telco_data()

In [59]:
telco

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,1,2,9987-LUTYD,Female,0,No,No,13,Yes,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,1,2,1,9992-RRAMN,Male,0,Yes,No,22,Yes,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,2,1,3,9993-LHIEB,Male,0,Yes,Yes,67,Yes,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,1,1,3,9995-HOTOH,Male,0,Yes,Yes,63,No,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

In [37]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  internet_service_type     7043 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

In [56]:
telco['total_charges'].str.replace(' ','')

0         593.3
1         542.4
2        280.85
3       1237.85
4         267.4
         ...
7038      742.9
7039     1873.7
7040      92.75
7041    4627.65
7042     3707.6
Name: total_charges, Length: 7043, dtype: object

In [57]:
telco.drop(columns=['contract_type_id'
                    ,'payment_type_id'
                    ,'internet_service_type_id'], inplace= True)

In [2]:
titanic = pd.read_csv('titanic_df.csv')

In [3]:
from prepare import prep_titanic

In [4]:
prep_titanic(titanic)

,Unnamed: 0,survived,pclass,sex,age,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,male,22.000000,1,0,7.2500,Southampton,0,1,0,1
1,1,1,1,female,38.000000,1,0,71.2833,Cherbourg,0,0,0,0
2,2,1,3,female,26.000000,0,0,7.9250,Southampton,1,0,0,1
3,3,1,1,female,35.000000,1,0,53.1000,Southampton,0,0,0,1
4,4,0,3,male,35.000000,0,0,8.0500,Southampton,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.000000,0,0,13.0000,Southampton,1,1,0,1
887,887,1,1,female,19.000000,0,0,30.0000,Southampton,1,0,0,1
888,888,0,3,female,29.699118,1,2,23.4500,Southampton,0,0,0,1
889,889,1,1,male,26.000000,0,0,30.0000,Cherbourg,1,1,0,0
890,890,0,3,male,32.000000,0,0,7.7500,Queenstown,1,1,1,0